.third-call-to-action{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
}

.third-call-to-action > *{
    margin-bottom: .5em;
}

@media screen and (max-width:769px) {
    .third-call-to-action{
        background-image: url("/images/background-3th-call-to-action.png");
    }
    
}

@media screen and (min-width:320px) {
    .third-call-to-action{
        background-position: right;
        background-size: cover;

    }
}