main{
   
    width: auto;
    min-height: 55em;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    
    
}
main form{
    border-radius: 15px;
    background: white;
    padding:1em;
    text-align: center;
    display: flex;
    
    box-shadow: 0px 13px 28px 0px var(--Bluecolor30);
        -webkit-box-shadow: 0px 13px 28px 0px var(--Bluecolor30);
        -moz-box-shadow: 0px 13px 28px 0px var(--Bluecolor30);
}

main form div{
    width: 100%;
}
.form__input{
    padding: 1.5em 1em;
    background-color: var(--Bluecolor30);
    border: none;
    border-radius: 15px;
    font-family:"Lato", sans-serif;
    font-weight: 300;
    margin-right: .5em;
}

.form__input::-webkit-input-placeholder { /* Edge */
    color: var(--dark_blue_color);
    
  }
.form__input:first-child{
    padding: 1.5em 1em;
    width: 60%;
}
.form__input:nth-child(2){
    width: 35%;
}

.form__submit{
    border: none;
    padding: 1.5em 2em;
    width: auto;
    min-width: 25%;
}

main .container{
    margin-top: 9em;
    position: absolute;
    place-items: initial;
    
}

main .container h1{
    font-size: 3.75em;
    font-family: 'Lato';
    font-weight: 900;
    margin-bottom: .5em;
}
/*
main .container > *{
    color:white
}*/
.main--subtile{
    font-size:1.6em ;
    font-weight: 900;
    margin-bottom: 1em;
}
.main--copy{
    max-width: 50%;
    text-align: justify;
}

@media screen and (max-width:651px) {
    .form__submit {
        padding: 1.5em 0em;
    }
}

@media screen and (max-width:561px) {
    main form{
        flex-direction: column;
        row-gap: 0.5em;
    }
    .form__input:first-child,.form__input:nth-child(2) {
        width: 45%;
    }
}


@media screen and (max-width:426px) {
    main{
        height: 60em;
        background-position: 82%;
    }
    .main--copy{
        max-width:100%;
    }
    main form{
        flex-direction: column;
    }

}

@media screen and (max-width:375px) {
    main{
        height: 70em;
    }
}