/*@font-face {
  font-family:'Lato Regular';
  src: url("/fonts/Lato-Regular.ttf") format("ttf");
}
*/
:root{
    --dark_blue_color:#00437A;
    --blue_color:#008CFF;
    --Bluecolor30: rgba(0,93,203,0.2);
    --blue_opacity_color:#EBF6FE;
    --yellow__color:#FFB71B;
    --sizeSubtittle:1.9em;
    --colorLine:#C9E0F1;
    scroll-behavior: smooth;
  }
  *{
    box-sizing: border-box;
  
  }

  body{
    font-size: 16px;
    box-sizing: border-box;
    font-family:'Lato Regular'!important;
    color: var(--dark_blue_color);
    scroll-behavior: smooth;
    margin: 0;
  }
  h2, h3{
    font-family:'Lato';
    color: var(--dark_blue_color);
    font-weight: 900;
    font-size: var(--sizeSubtittle);
  }
  p, ul, li,a,figcaption{
    font-size: 1em;
    font-family:"Lato";
  }
  ul, li,a{
    font-weight: 900;
    list-style: none;
  }

  li a, a{
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-family:"Lato";
    font-weight: 900;
  }
  
  figure{
    margin: 0;
  }
  .maxWith{
    width: 1024px;
  }

  .container{

    max-width: 1024px;
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
    gap: 3em;
  }

  .container.flex, .flex
  {
    display: flex;
  }

  .container.flex.center, .flex.center
  {
    place-items: center;
    place-content: center;
   
  }

  
.btn{
  padding: 1em 3em ;
  border-radius: .5em;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  transition: all 0.5s ease;
}
.btn.blue{
  background-color: var(--dark_blue_color);
}
.btn.bluesky{
  background-color: var(--blue_color);
}

.btn:hover{
  background-color: var(--yellow__color);
  transform: scale(1.1);
}
.btn.call:hover{
  background-color: var(--blue_color);
  transform: scale(1.1);
}

/*Global rules */